* {
    margin: 0;
    padding: 0;
    font-family: ¡®¸¼Àº °íµñ¡¯, ¡®Malgun Gothic¡¯, Gothic, sans-serif;
}

a {
    color: #181818;
    text-decoration: none;
}

    a:hover {
        opacity: 0.8;
        transition: 0.2s;
    }

li {
    list-style: none;
}
