/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// Page.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 전체 페이지
    설명 :
        - 일반적인 블로그 형태
        - 전역 설정, 페이지 포장
*/

* {
    margin: 0;
    padding: 0;
    font-family: ‘맑은 고딕’, ‘Malgun Gothic’, Gothic, sans-serif;
}

a {
    color: #181818;
    text-decoration: none;
}

    a:hover {
        opacity: 0.8;
        transition: 0.2s;
    }

li {
    list-style: none;
}

body {
    width: 960px;
    margin: 0 auto;
    background: #E6E6E6;
}

#page-wrapper {
    background: white;
    margin: 30px 0;
    padding: 10px 0;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
