/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// Navigation.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 메뉴 탐색기
    설명 :
        - 프롤로그, 블로그, 방명록 페이지 이동
*/

#main-navigation {
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    height: 40px;
}

.outer-menu-item {
    float: left;
    position: relative;
}

    .outer-menu-item .selected {
        background: #7F7F7F;
        color: white;
    }

.menu-title {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 5px 20px;
}

.inner-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 6px rgba(5, 5, 5, 0.9);
    z-index: 1000;
    text-align: center;
}

.inner-menu-item > a {
    display: block;
    padding: 5px 10px;
    color: black;
    font-size: 12px;
}

    .inner-menu-item > a:hover {
        background: #4F4F4F;
        color: white;
    }
