#main-navigation {
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    height: 40px;
}

.outer-menu-item {
    float: left;
    position: relative;
}

    .outer-menu-item #selected {
        background: #7F7F7F;
        color: white;
    }

.menu-title {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 5px 20px;
}
