/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// Section.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 메뉴 탐색기
    설명 :
        - 페이지 중앙의 본문 및 사이드 메뉴
        - 크게 세 부분으로 나누어짐
            1. 제목
            2. 내용
            3. 사이드 바
*/

/*******/
/* Top */
/*******/
article {
    padding: 0 10px 20px 10px;
}

hr {
    margin: 0 auto;
}

.article-header {
    padding-top: 20px;
    padding-bottom: 5px;
}

.article-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.article-date {
    font-size: 13px;
}

.article-body {
    font-size: 14px;
}

/**********/
/* Center */
/**********/
#content {
    overflow: hidden;
    padding: 0 10px;
    border-bottom: 1px solid #BFBFBF;
}

#main-section {
    float: left;
    width: 710px;
    border-right: 1px solid #BFBFBF;
    padding: 10px 10px 0 0;
}

#main-aside {
    float: right;
    width: 200px;
}

article ul li:before {
    content: '-';
    padding: 3px;
}

section .horizon {
    width: 710px;
    margin: 0 auto;
    border-top: 1px solid #7F7F7F;
}

section .horizon-half {
    width: 450px;
    margin: 30px auto;
    border-top: 1px solid #BFBFBF;
}

.article-body h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.article-body .paragraph {
    margin: 15px 0;
}

.article-body img {
    display: block;
    margin: 10px auto;
}

article .border {
    border: 1px solid #BFBFBF;
}

/********/
/* Side */
/********/
.aside-list {
    position: fixed;
    width: 150px;
    margin: 40px 5px;
    padding: 20px 0 20px 20px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
}

    .aside-list > h3 {
        font-size: 15px;
        font-weight: 600;
    }

    .aside-list li a {
        margin-left: 8px;
        font-size: 13px;
        color: #6C6C6C;
    }

