/* body 태그의 너비: 960픽셀 */
/* #page-wrapper 태그의 padding 속성으로 내용물 너비는 920픽셀 */

#content {
    overflow: hidden;
    border-bottom: 1px solid #BFBFBF;
}

#main-section {
    float: left;
    width: 710px;
    border-right: 1px solid #BFBFBF;
    padding: 10px 10px 0 0;
}

#main-aside {
    float: right;
    width: 200px;
}

article ul li:before {
    content: '-';
    padding: 3px;
}

section .horizon {
    width: 710px;
    margin: 0 auto;
    border-top: 1px solid #7F7F7F;
}

section .horizon-half {
    width: 450px;
    margin: 30px auto;
    border-top: 1px solid #BFBFBF;
}

.article-body h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.article-body .paragraph {
    margin: 15px 0;
}

.article-body img {
    display: block;
    margin: 10px auto;
}

article .border {
    border: 1px solid #BFBFBF;
}
