
footer {
    color: #7F7F7F;
    width: 720px;
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    padding: 15px;
    overflow: hidden;
}

    footer #tag {
        width: 300px;
        float: left;
        font-weight: bold;
        padding: 5px 10px;
        text-align: right;
    }

    footer #icon {
        float: left;
        text-align: left;
    }

        footer #icon:hover {
            opacity: 0.8;
            transition: 0.2s;
        }

    footer #contact {
        float: left;
        padding: 5px 10px;
        text-align: left;
    }
