/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// BackgroundLines.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 선분 배경
    설명 :
        - 선분을 그릴 배경 레이아웃
*/

#lines-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
