/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// Footer.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 페이지 푸터
    설명 :
        - 사이트 정보 제공
        - 시계 배치
*/

footer .footer-section1 {
    color: #7F7F7F;
    width: 720px;
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    padding: 10px;
    overflow: hidden;
}

footer #tag {
    width: 300px;
    float: left;
    font-weight: bold;
    padding: 5px 10px;
    text-align: right;
}

footer #icon {
    float: left;
    text-align: left;
}

    footer #icon:hover {
        opacity: 0.8;
        transition: 0.2s;
    }

footer #contact {
    float: left;
    padding: 5px 10px;
    text-align: left;
}

footer .footer-section2 {
    color: #6F6F6F;
    width: 720px;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
}

footer .horizon-half {
    width: 500px;
    margin: 5px auto;
    border-top: 1px solid #BFBFBF;
}
