/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
//
// ImageEffect.css
//
//-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+

    개요 : 이미지 효과
    설명 :
        - 프롤로그 페이지의 각 이미지 호버링 효과
*/

div.effect-highlight {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

    div.effect-highlight * {
        box-sizing: border-box;
        transition: all 0.45s ease-in-out;
    }

    div.effect-highlight img {
        max-width: 100%;
        position: relative;
        opacity: 1;
    }

    div.effect-highlight figcaption {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        border: 1px solid white;
        border-width: 0 1px;
    }

    div.effect-highlight .heading {
        overflow: hidden;
        transform: translateY(-50%);
    }

    div.effect-highlight .caption {
        overflow: hidden;
        transform: translateY(50%);
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    div.effect-highlight h3,
    div.effect-highlight p {
        display: table;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        text-align: center;
        width: auto;
        text-transform: uppercase;
        font-weight: 400;
    }

        div.effect-highlight h3 span,
        div.effect-highlight p span {
            font-weight: 800;
        }

        div.effect-highlight h3:before,
        div.effect-highlight p:before,
        div.effect-highlight h3:after,
        div.effect-highlight p:after {
            position: absolute;
            display: block;
            width: 1000%;
            height: 1px;
            content: '';
            background: white;
        }

        div.effect-highlight h3:before,
        div.effect-highlight p:before {
            left: -1000%;
        }

        div.effect-highlight h3:after,
        div.effect-highlight p:after {
            right: -1000%;
        }

        div.effect-highlight h3:before,
        div.effect-highlight h3:after {
            top: 50%;
        }

    div.effect-highlight p {
        font-size: 0.8em;
        font-weight: 500;
    }

        div.effect-highlight p:before,
        div.effect-highlight p:after {
            bottom: 50%;
        }

    div.effect-highlight a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    div.effect-highlight:hover img,
    div.effect-highlight.hover img {
        opacity: 0.35;
        transform: scale(1.15);
    }
